.chats-list__chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chats-list__chat__column2{
    position: relative;
}

.chat__column1__avatar{
    width: 50px;
    border-radius: 40%;
}

.chat__column2__content__notify{
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: #dc5d46;
    color: white;
width: 20px;
height: 20px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 14px;
}