.chat_header_colummn{
    display: flex;
    align-items: center;
}

.chat_back-btn{
    font-size: 20px;
    margin-right: 20px;
}

.chat_title{
    font-size: 22px;
    font-weight: 600;
}

.incoming-message_avatar{
    width: 50px;
    border-radius: 38%;
    margin-right: 15px;
}

.incoming-message{
    display: flex;
}