.chats_chatting-room{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.chatting-room_column{
    display: flex;
    align-items: center;
}

.chatting-room_content .chatting-room_username{
    display: block;
    margin-bottom: 5px;
}

.chatting-room_avatar{
    width: 50px;
    border-radius: 38%;
    margin-right: 15px;
}

.chatting-room_priview{
    font-size: 13px;
    opacity: 0.7;
}

.talk-alarm{
    font-size: 11px;
    opacity: 0.5;
    margin-left: 3px;
}

.chatting-room_timestamp{
    opacity: 0.7;
    font-size: 12px;
    margin-bottom: 1px;
}

.chatting-room_badge{
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4px ;
    background-color: #dc5d46;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: right;
}

.chatting-room_badge2{
    font-size: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4px ;
    background-color: #dc5d46;
    color: white;
    width: 17px;
    height: 17px;
    border-radius: 8px;
    float: right;
}

